* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: #fff;
}

nav ul {
    list-style-type: none;
}

.scrollto {
    display: flex;
    align-items: center;
}

.scrollto ul li a, .goback a{
    display: block;
    text-decoration: none;
    text-align: center;
    color: #0E1C36;
    padding: 0 2em;
    width: 100%;
    height: 100%;
    font-weight: 600;
}

.scrollto ul li a:hover, .goback a:hover{
    transform: scale(1.1);
}

.scrollto img {
    margin-bottom: -5px;
    height: 20px;
    width: 20px;
}


nav {
    font-family: Aileron, sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    transition: all 0.5s ease-in-out;
}

nav.blur {
    backdrop-filter: blur(3px);
}

nav.solidbg {
    background: #fff;
    border-bottom: 1px solid rgb(189, 189, 189);
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 150px;
}

.sidebar {
    height: 100%;
    width: 100%;
    padding: 0 1em;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}


.mainsplash {
    width: 100%;
    height: 100vh;
}

.rcplane {
    background: #c1e6de;
}

.sdesk {
    background: #c2f1d6;
}

.sdesk img{
    width: 100%;
    min-width: 20em;
    height: 100%;
    object-fit: contain;
}

.projdetails {
    display: flex;
    justify-content: center;
    height: 100em;
    width: 90%
}

.infocard {
    width: 60%;
    height: 100%;
    padding: 5em;
}

.infocard h1 {
    margin: 1em 0;
}

.skillset {
    width: 20%;
    height: 100%;
    padding: 5em;
}

.skillset h2 {
    margin: 1.5em 0;
}

.skillset ul {
    margin-left: 1em;
}

.menu {
    height: 10em;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 10vh;
    right: 0;
    background: rgba(1,1,1,0);
    text-align: left;
    transition: all 1s ease-in-out;
}

.menu ul {
    list-style: none;
    margin-right: 2em;
}

.menu a {
    display: block;
    text-decoration: none;
    color: black;
    font-size: 2em;
    font-weight: 300;
    text-transform: uppercase;
}

.openmenu {
    border: none;
    padding: 1em 0;
    background: rgba(1,1,1,0);
    font-weight: 700;
    font-size: medium;
    cursor: pointer;
}

.visible {
    width: 10em;
}

.flip {
    transform: scaleX(-1);
}

@media (max-width: 1080px) {
    nav {
        height: 25vh;
    }
    .sidebar {
        flex-direction: column-reverse;
        justify-content: center;
        height: 10em;
    }
    .scrollto, .menu {
        display: none;
    }
}
