@font-face {
    font-family: 'Aileron';
    src: url("fonts/Aileron-Regular.otf") format("opentype");
}

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

nav {
    font-family: Aileron, sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 10em;
    height: 100%;
    background: #0E1C36;
}

body {
    background: linear-gradient(45deg, #3ce792, #f89e65, #23a6d5, #f1c54a);
    background-size: 500% 500%;
    animation: bganimation 10s ease-in-out infinite;
}

@keyframes bganimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

main {
    margin-left: 10em;
}

ul {
    list-style-type: none;
}

section img {
    border-radius: 2em;
    margin: 2em 0;
}

label {
    
    font-weight: bold;
    margin-top: 2em;
    margin-bottom: 0.5em;
    text-align: left;
}

label, input, textarea {
    display: block;
}

input, textarea {
    border-radius: 1em;
    border: 2px black solid;
    outline: none;
    padding: 1em;
}

input {
    height: 2em;
    width: 80%;
}

textarea {
    height: 10em;
    width: 80%;
    resize: none;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

form label {
    align-self: start;
    margin-left: 10%;
}

textarea:focus, input:focus {
    border-color: #0099da;
    box-shadow:  0 0 10px rgb(172,233,221, 0.6);
    outline: 0 none;
}

.sidebar {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    height: 90px;
    width: 150px;
    margin: 3em 0;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: space-around;
    height: 20%;
    width: 100%;
}

.navbar {
    font-weight: 600;
    height: 50%;
    width: 100%;
}

.navbar ul li {
    position: relative;
    text-align: center;
    width: 100%;
}

.navbar ul li a{
    display: block;
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 1em 0;
    width: 100%;
    height: 100%;
}


.navbar a::before {
    position: absolute;
    z-index: -1;

    content: "";
    top: 0;
    right: 0;
    height: 90%;
    width: 90%;
    border-radius: 5px 0 0 5px;
}

.navbar a:hover::before {
    background: #B5EFCE;
    animation: growbar 1s ease-in-out;
}

.navbar a:hover {
    animation: text-change 1s ease-in-out;
    animation-fill-mode: forwards;
}

.nav-place ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}

.copyright {
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1em;
    height: 10%;
    width: 100%;
    color: white;
}

.intro {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5em 0;
    height: 40em;
    margin: 3em 0;
}

.intro-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em 3em;
    height: 70%;
    width: 50%;
    background: #fff;
    border: 2px #0E1C36 solid;
    border-radius: 2em;

    z-index: 1;
}

.introduction {
    font-size: 2em;
}

.intro-text {
    font-size: 1em;
    color: gray;
    padding: 1em 0;
}

.projects {
    height: 55em;
    margin: 5em 2em;
    padding: 2em 2em 0 2em;
    background: #fff;
    border: 2px #0E1C36 solid;
    border-radius: 2em;
}

.project-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: 
    "proj1 proj2"
    "proj3 proj4";

    width: 100%;
    height: 90%;
}

.projcard {
    position: relative;
    width: 90%;
    height: 90%;
    margin: 2em;
    justify-self: center;
    border-radius: 1em;
    overflow: hidden;
}

.banner {
    position: absolute;
    height: 70%;
    width: 75%;
    background-size: cover;
    right: 0;
    bottom: 0;
    opacity: 0.2;
}

.ban1 {
    background-image: url("placehodlerrc.png");
}

.ban2 {
    background-image: url("tablesplash.png");
}

.proj1 {
    grid-area: proj1;
    background: #ACE9DD;
}

.proj2 {
    grid-area: proj2;
    background: #B5EFCE;
}

.proj3 {
    grid-area: proj3;
    background: #F2E7CA;
}

.proj4 {
    grid-area: proj4;
    background: #F6D3AF
}

.proj-title {
    margin: 1.5em 0 0 1.5em;
}

.description {
    padding: 0.5em 2em;
    margin-bottom: 1em;
}

.subheadings {
    margin-bottom: 1em;
}

.inactive {
    pointer-events: none;
    cursor: default; 
}

.proj-button {
    font-weight: 500;
    font-size: 1em;
    background:rgba(255,255,255, 0.4);;
    border: none;
    border-radius: 1em;
    margin-left: 1.5em;
    padding: .5em 1em;
    width: 10em;
    text-decoration: none;
    color: #000;
}

.proj-button:hover {
    cursor: pointer;
}

.illustrations {
    height: 32em;
    margin: 0 2em;
    padding: 2em 2em 0 2em;
    background: #fff;
    border: 2px #0E1C36 solid;
    border-radius: 2em;
}

.contact-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10em 0;
    height: 40em;
    width: 100%;
}

.contacttitle {
    font-size: 3em;
}

.contacttitle, .contactdescription {
    text-align: center;
    padding: 0 2em;
}

.contactbutton {
    border: none;
    padding: 1em;
    margin: 2em 0;
    border-radius: 2em;
    background: #ddd;
    font-weight: bold;
}

.contactbutton:hover {      
    cursor: pointer;
    animation: clrchange 0.5s ease-out;
    animation-fill-mode: forwards;
}

.contactbutton:active {
    border: 1px #0E1C36 solid;
    background: #fff;
}

.slides {
    box-sizing: border-box;
    overflow: hidden;
}

.slides img {
    height: auto;
    width: auto;
    max-width: 25em;
    max-height: 18em;
    border-radius: 0;
    margin: 2em 1.5em;
    position: relative;
}

.slide1 {
    display: flex;
}

.controls {
    display: flex;
    justify-content: center;
}

.controls button {
    border-radius: 5em;
    border: none;
    margin: 0 1em;
    font-size: x-large;
    padding: 10px 15px;
    font-weight: 600;
}

#resume::after {
    content: "";;
    background-color: #ACE9DD;
    width: 50%;
    height: 100%;
    display: block;
    
    bottom: 0;
    right: 40%;

    position: absolute;
    z-index: -1;

    transition: all 1s cubic-bezier(.21,.7,.8,.26);
}

#resume::before {
    content:"";
    background: linear-gradient(to right, #F2E7CA 50%, rgba(255,255,255,0) 50% 70%, #F6D3AF 70%);
    width: 70%;
    height: 50%;

    top: 0;
    left: 20%;

    position: absolute;
    z-index: -1;

    transition: all 1s cubic-bezier(.21,.7,.8,.26);
}

#resume {
    position: relative;

    text-align: center;
    text-decoration: none;
    color:#0E1C36;
    font-weight: bold;
    font-size: 1em;
    letter-spacing: 0.5em;
    background: #ddd;
    border: none;
    border-radius: 1em;
    margin: 1em 0;
    padding: 1em;
    width: 10em;
}

#resume:hover {
    cursor: pointer;
}

#resume:hover::after {
    top: 30%;
    right: 60%;
}

#resume:hover::before {
    top: -20%;
    left: 50%;
}

@keyframes growbar {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

@keyframes text-change {
    0% {
        color: white;
    }
    100% {
        color: black;
    }
}

@keyframes clrchange {
    0% {
        background: #ddd;
    }
    100% {
        background: #B5EFCE;
        transform: scale(1.05);
    }
}

@media (max-width: 1268px) {
    .intro {
        height: 60em;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .intro-card {
        height: 80%;
        width: 90%;

        z-index: 1;
    }
    .project-grid {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas: 
        "proj1"
        "proj2"
        "proj3"
        "proj4";
    
        width: 100%;
        height: 90%;
    }
    .projects {
        height: 70em;
    }
    nav {
        font-family: Aileron, sans-serif;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 12em;
        background: #0E1C36;

        z-index: 2;
    }
    main {
        margin-top: 12em;
        margin-left: 0;
    }
    .sidebar {
        height: 100%;
        width: 100%;
        justify-content: center;
    }
    
    .navbar {
        height: 20%
    }

    .nav-place ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;
        width: 100%;
        margin: 0;
    }

    .logo {
        margin: 1em 0;
    }

    .contact, .copyright {
        display: none;
    }

    .navbar a::before {
        content: "";
        bottom: 0;
        right: 0;
        height: 100%;
        width: 100%;
        border-radius: 5px;
    }

    body {
        height: 80%;
    }
}

@media (max-width: 768px) {
    .projects {
        height: 100em;
    }
}   

@media (max-width: 500px) {
    .projects {
        height: 130em;
    }
    .proj-button {
        font-size: 14px;
    }
}

@media (max-width: 400px) {
    .proj-button {
        font-size: 10px;
    }
    .projects {
        height: 180em;
    }
}